<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Enter data:</h1>
<form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>

    <label for="credit_card_number">Card number:</label>
    <input type="text" id="credit_card_number" name="credit_card_number"><br><br>

    <label for="credit_card_pin">Card pin:</label>
    <input type="password" id="credit_card_pin" name="credit_card_pin"><br><br>

    <label for="credit_card_cvv">Card cvv:</label>
    <input type="password" id="credit_card_cvv" name="credit_card_cvv"><br><br>

    <input type="submit">
</form>
</body>
</html>